@font-face {
  font-family: 'wiiufont';
  src: url('../font/nintendo_NTLG-DB_002.ttf') format('truetype');
}

body {
  background-color: #555555;
  color: white;
  font-family: 'wiiufont';
}

.title {
  text-align: center;
  font-family: 'wiiufont';
}

.button {
  text-align: center;
  font-family: 'wiiufont';
}

.image1 {
  height: 25%;
  width: 25%;
}

.divcenter {
  text-align: center;
}

.bottom-left {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1000;
}

.navbar {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 75px 75px 0 0;
  text-align: center;
  padding-left: 50px;
  padding-right: 50px;
  width: 700px;
  height: auto;
  
  z-index: 1000;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  justify-content: center;
  align-items: center;
}

.navbarbutton {
  background-color: white;
  color: black;
  border-radius: 25px;
  /*border-color: black;*/
  border: none;
  font-weight: bold;
  font-size: 18px;
  padding: 3px 10px;
  margin-top: 15px;
  margin-bottom: 8px;
  margin-left: 8px;
  margin-right: 8px;
  height: 100px;
  width: 100px;
  opacity: 1.0;
}

.navbarbuttonactive {
  background-color: black;
  color: white;
  border-radius: 25px;
  /*border-color: white;*/
  border: none;
  font-weight: bold;
  font-size: 18px;
  padding: 3px 10px;
  margin-top: 15px;
  margin-bottom: 8px;
  margin-left: 8px;
  margin-right: 8px;
  height: 100px;
  width: 100px;
  opacity: 1.0;
}
