@font-face {
  font-family: 'wiiufont';
  src: url('font/nintendo_NTLG-DB_002.ttf') format('truetype');
}
body {
  background-color: #555555;
  color: white;
  font-family: 'wiiufont';
}
.title {
  text-align: center;
  font-family: 'wiiufont';
}
.button {
  text-align: center;
  font-family: 'wiiufont';
}
.image1 {
  height: 25%;
  width: 25%;
}
.divcenter {
  text-align: center;
}
.bottom-left {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1000;
}

